{% extends 'base.html' %}

{% block title %} {{ category|title }}{% endblock %}

{% block content %}
    <main>
        {% for article in articles %}
            <article class="post">
                <h2>{{ article.title }}</h2>
                <p>{{ article.short_content }}</p>
                <a href="{% url 'articles:detail' pk=article.pk %}" class="read-more">Read More</a>
            </article>
        {% empty %}
            <h2>No Found!</h2>
        {% endfor %}
    </main>



{% endblock %}